/**
 * Copyright (C) 2014 Hisilicon Ltd.
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License version 2 as
 *  publishhed by the Free Software Foundation.
 */

/dts-v1/;
/plugin/;
/include/ "LAYA_LX9_VA_overlay.dtsi"
/include/ "LAYA_LX9_VB_pin.dtsi"
/include/ "LAYA_LX9_VB_modem_pin.dtsi"

/ {
    board_id = <8438>;
};

	&rootparam{
		hisi,boardid = <8 4 3 8>;
		hisi,boardname = "LAYA_LX9_VB";
		hisi,modem_id = <0x37012000>;
		hisi,product_name = "LAYA-LX9";
	};

	&devcheck {
		airpress = <1>;
	};
	&amba {
		i2c@FDF0D000 {
			smartpa@34{
				chip_model = "tfa9874";
			};
			smartpa@36{
				chip_model = "tfa9874";
			};
			smartpa@50{
				chip_model = "cs35l36";
			};
			smartpa@52{
				chip_model = "cs35l36";
			};
		};
	};

	&audio_hw_config {
		audio_capability {
			music_region_enable = "true";
			voice_region_enable = "true";
		};
	};

    /*hisi customize*/
    &hisi_cust_cfg {
        ini_file_name = "/vendor/etc/cfg_laya_lx9_vb.ini";
    };


&spmi {
    pmic@0 {
        sim0 {
            pmu_ldo12_pull_down = <0>;
        };

        sim1 {
            pmu_ldo12_pull_down = <0>;
        };
    };
};

	&sensorhub{
		light{
			als1{
				als_phone_version = <12>;
			};
		};
	};
	&codec_controller {
		hi64xx_irq@0 {
			hi6403_codec@0 {
				hisilicon,rcv_tdd_gpio = <56>;
			};
		};
	};
	&hisi_usb {
		usb_firmware_es = <0>;
	};
